<footer class="footer-distributed">
    
          <div class="footer-left">
    
            <h3>Georgioupolis<span>Taxi</span></h3>
    
            <div>
                <p><a id="emailFooter" href="georgioupolis.transfer@gmail.com">georgioupolis.transfer@gmail.com</a></p>
              </div>
              
            <p class="footer-links">
              <a href="#">{{data.title}}</a>
              ·
              <a href="#georgioupolis-taxi-book-transfer">{{data.bookTransfer}}</a>
              ·
              <a href="#georgioupolis-taxi-tours">{{data.tours}}</a>
              ·
              <a href="#georgioupolis-taxi-footer">{{data.about}}</a>
            </p>

            <p class="footer-company-name">{{data.title}} &copy; 2017</p>
          </div>
    
          <div class="footer-center">
    
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>{{data.georgioupolis}}</span>{{data.creteGreece}}</p>
            </div>
    
            <div>
              <i class="fa fa-phone"></i>
              <p>+30 693 712 7600</p>
            </div>
    
          </div>
    
          <div class="footer-right">
    
            <p class="footer-company-about">
              <span>{{data.myName}}</span>
              {{data.copyrightsReserved}}
            </p>

            <div class="footer-icons">
              <a href="https://nikosxenakis-website.firebaseapp.com/"><i class="fa fa-globe"></i></a>
              <a href="https://www.facebook.com/xenis656"><i class="fa fa-facebook"></i></a>
              <a href="https://www.linkedin.com/in/nikos-xenakis-875811109"><i class="fa fa-linkedin"></i></a>
              <a href="https://www.instagram.com/nikosxenakis"><i class="fa fa-instagram"></i></a>
            </div>
    
          </div>
    
        </footer>