<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" [@navbarAnimation]='state'
(@navbarAnimation.start)="animationStarted()"
(@navbarAnimation.done)="animationDone()"
[hidden]="isHidden">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#index">{{data.title}}</a>

    <button #navbarToggler class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" href="#bookTransfer">{{data.bookTransfer}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" href="#tours">{{data.tours}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" href="#about">{{data.about}}</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button"
             aria-expanded="false">
            {{data.language}}
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" (click)="hideMenu(); changeLanguage('en')">
                English
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="hideMenu(); changeLanguage('gr')">
                Ελληνικά
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
