<!--
<georgioupolis-taxi-navbar (changeLangEvent)="selectLang($event)"></georgioupolis-taxi-navbar>

<georgioupolis-taxi-moto id="index"></georgioupolis-taxi-moto>

<georgioupolis-taxi-index-carousel id="carousel"></georgioupolis-taxi-index-carousel>
-->
<georgioupolis-taxi-book-transfer id="bookTransfer"></georgioupolis-taxi-book-transfer>
<!--
<georgioupolis-taxi-tours id="tours"></georgioupolis-taxi-tours>

<georgioupolis-taxi-prices id="prices"></georgioupolis-taxi-prices>

<georgioupolis-taxi-footer id="about"></georgioupolis-taxi-footer>
-->