<georgioupolis-taxi-navbar (changeLangEvent)="selectLang($event)"></georgioupolis-taxi-navbar>

<georgioupolis-taxi-moto id="index"><loader></loader></georgioupolis-taxi-moto>

<georgioupolis-taxi-index-carousel id="carousel"><loader></loader></georgioupolis-taxi-index-carousel>

<georgioupolis-taxi-book-transfer id="bookTransfer" #bookTransfer><loader></loader></georgioupolis-taxi-book-transfer>

<georgioupolis-taxi-tours id="tours"><loader></loader></georgioupolis-taxi-tours>

<georgioupolis-taxi-prices id="prices" (destinationEvent)="bookTransfer.setDestination($event);"><loader></loader></georgioupolis-taxi-prices>

<georgioupolis-taxi-footer id="about"><loader></loader></georgioupolis-taxi-footer>
<!--
<georgioupolis-taxi-navbar (changeLangEvent)="selectLang($event)"></georgioupolis-taxi-navbar>

<georgioupolis-taxi-moto id="index"><loader></loader></georgioupolis-taxi-moto>

<georgioupolis-taxi-index-carousel id="carousel"><loader></loader></georgioupolis-taxi-index-carousel>

<georgioupolis-taxi-book-transfer id="bookTransfer" #bookTransfer><loader></loader></georgioupolis-taxi-book-transfer>

<georgioupolis-taxi-tours id="tours"><loader></loader></georgioupolis-taxi-tours>

<georgioupolis-taxi-prices id="prices" (destinationEvent)="bookTransfer.setDestination($event)"><loader></loader></georgioupolis-taxi-prices>

<georgioupolis-taxi-footer id="about"><loader></loader></georgioupolis-taxi-footer>
-->