section{
	margin: 20px; width: inherit;
}
/*
.alert {
    margin-top: 10px;
}
*/
/*
.formStyle{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
*/
.formStyle h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}

.formDiv {
    display: block;
    border:1px solid #DDDDDD;
    padding: 0px;
    padding-top: 9px;
    border-radius: 9px;
}

/*
.formStyle li:last-child{
    border:1px solid #DDDDDD;
    margin-bottom: 0px;
    text-align: center;
}
*/


.formStyle .formDiv > label{
    display: block;
    float: left;
    margin-top: -19px;
    margin-left: 10px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #8c8c8c;
    font-size: 14px;
}
.formStyle input
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    box-shadow: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 2px;
}
/*
.formStyle input[type="text"]:focus,
.formStyle input[type="date"]:focus,
.formStyle input[type="datetime"]:focus,
.formStyle input[type="email"]:focus,
.formStyle input[type="number"]:focus,
.formStyle input[type="search"]:focus,
.formStyle input[type="time"]:focus,
.formStyle input[type="url"]:focus,
.formStyle input[type="password"]:focus,
.formStyle textarea:focus,
.formStyle select:focus 
{
}
*/

.formStyle select{
    max-width: 160px;
    border: none;
    box-shadow: none;
    margin-left: 8px;
}

.formStyle #date{
}

.formStyle textarea{
    border: none;
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
}
.selectFormDiv{
    max-width: 180px;
}

.dateFormDiv {
    max-width: 160px;
}

.formStyle textarea{
    resize:none;
}

.formDivTimepicker{
    max-width: 148px;
    padding-left: 15px;
    padding-right: 15px;
}

.formDivTimepicker label{
    margin-left: 0px;
}

.formStyle input[type="submit"],
.formStyle input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.formStyle input[type="submit"]:hover,
.formStyle input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}


.wrongInput {
    color: #a94442; 
    background-color: #f2dede; 
    margin: 0px;
    font-size: 11px;
    padding: 4px;
    border: none;
    padding: 0px;
    padding-top: 5px;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.infoInput {
    color: #63ada9; 
    background-color: #dbf1ee; 
    margin: 0px;
    font-size: 11px;
    border: none;
    padding: 0px;
    padding-top: 5px;
    border-radius: 9px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.successInput {
   /* position: relative;
    left: 180px;
    bottom: 25px;*/
    margin-left: 7px;
    color: lightseagreen;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(192, 192, 192);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgb(192, 192, 192);
}
  :-ms-input-placeholder { /* IE 10+ */
    color: rgb(192, 192, 192);
}
  :-moz-placeholder { /* Firefox 18- */
    color: rgb(192, 192, 192);
}