<section>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #myForm="ngForm" (ngSubmit)="onSubmitMail(myForm.value)" class="formStyle">
        <h1>Book your transfer</h1>
        <div class="row">

          <div class="col-xs-12">
            <div class="formGroupDiv">
              <label for="firstName">Pesonal Info</label>
              <div class=" row">
                <div class="col-xs-12 col-md-4">
                  <div class="formDiv inputTextFormDiv">
                    <label for="firstName">First Name
                      <i *ngIf="(firstName.valid && !(firstName.pristine && !myForm.submitted))" 
                      class="fa fa-check successInput" aria-hidden="true">
                      </i>
                    </label>
                    <input id="firstName" name="firstName" placeholder="e.g Jonathan" type="text" [(ngModel)]="bookTransferData.firstName" #firstName="ngModel" required>
                    <pre *ngIf="!(firstName.valid || (firstName.pristine && !myForm.submitted))" class="inputHelper error" >Invalid first name</pre>
                    <pre *ngIf="firstName.pristine" class="inputHelper info" >Enter your first name</pre>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <div class="formDiv inputTextFormDiv">
                    <label for="lastName">Last Name
                      <i *ngIf="(lastName.valid && !(lastName.pristine && !myForm.submitted))" 
                      class="fa fa-check successInput" aria-hidden="true">
                      </i>
                    </label>
                    <input id="lastName" name="lastName" placeholder="e.g Morris" type="text" [(ngModel)]="bookTransferData.lastName" #lastName="ngModel" required>
                    <pre *ngIf="!(lastName.valid || (lastName.pristine && !myForm.submitted))" class="inputHelper error" >Invalid last name</pre>
                    <pre *ngIf="lastName.pristine" class="inputHelper info" >Enter your last name</pre>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <div class="formDiv inputTextFormDiv">
                    <label for="email">Email
                      <i *ngIf="(email.valid && !(email.pristine && !myForm.submitted))" 
                      class="fa fa-check successInput" aria-hidden="true">
                      </i>
                    </label>
                    <input id="email" name="email" placeholder="e.g morris34@gmail.com" type="text" [(ngModel)]="bookTransferData.email" #email="ngModel" required>
                    <pre *ngIf="!(email.valid || (email.pristine && !myForm.submitted))" class="inputHelper error" >Invalid email</pre>
                    <pre *ngIf="email.pristine" class="inputHelper info" >Enter your email</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="formGroupDiv">
              <label for="firstName">Passengers Details</label>
              <div class=" row">
                <div class="col-xs-12 col-lg-6">
                    <div class="formDiv noPeopleFormDiv">
                        <label for="noPeople">Number of People</label>
                        <select id="noPeople" name="noPeople" class="form-control" [(ngModel)]="bookTransferData.noPeople" required>
                            <option disabled value="Select an option" selected>Select an option</option>
                            <option *ngFor="let noPeopleOption of noPeopleOptions" [value]="noPeopleOption.value">{{noPeopleOption.display}}</option> 
                        </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-lg-6">
                    <div class="formDiv babySheatFormDiv">
                      <label>Baby Sheat</label>
                      <div *ngFor="let babySheatOption of babySheatOptions">
                        <input type="radio" name="babySheat" [(ngModel)]="bookTransferData.babySheat" #babySheat="ngModel" [value]="babySheatOption.value">{{babySheatOption.display}}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="formGroupDiv">
              <label for="firstName">Trip Details</label>
              <div class=" row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="formDiv dateFormDiv inputTextFormDiv">
                        <label for="date" >Date</label>
                        <input id="date" name="date" placeholder="add date..." class="form-control" bsDatepicker [(ngModel)]="bookTransferData.date" #date="bsDatepicker" [minDate]="minDate" [maxDate]="maxDate" required>
                      </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="formDiv form-group formDivTimepicker">
                      <label for="time">Time</label>
                        <timepicker id="time" name="time" [showSpinners]="true" [showMeridian]="false" [(ngModel)]="bookTransferData.time" required></timepicker>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="formDiv form-group inputTextFormDiv">
                      <label for="destinations">Destination</label>
                      <input name="destinations" placeholder="add destination..." [(ngModel)]="selected" [typeahead]="destinations" class="form-control">
                    </div>
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Confirm</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</section>