@import "../../../assets/styles/styles.less";

@info-color: @button-color;
@box-shadow-formGroupDiv: 1px 1px 1px @shadow-color;

section {

    .container {
        box-shadow: @box-shadow;
        background-color: @background-color-container;
        border: @border;
        .border-radius(@border-radious);
    }

    form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.formStyle{

    h1 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0px 0px 20px 0px;
        color: @text-color;
        font-size:x-large;
    }

}

.formGroupDiv {
    display: block;
    border: @border;
    padding: 0px;
    padding-top: 9px;
    .border-radius(@border-radious);
    margin-bottom: 30px;

    &:hover {
        box-shadow: @box-shadow-formGroupDiv;
    }

    label {
        float: left;
        margin-top: -19px;
        margin-left: 10px;
        background: @form-background-color;
        padding: 2px 5px 2px 5px;
        color: @text-color;
        font-size: 19px;
    }

    .row {
        margin:15px;
    }
}

.formDiv {

    display: block;
    border: @border;
    padding: 0px;
    padding-top: 9px;
    .border-radius(@border-radious);
    margin-bottom: 15px;

    &:hover {
        box-shadow: @box-shadow-formGroupDiv;
    }

    label {
        float: left;
        margin-top: -19px;
        margin-left: 10px;
        background: @form-background-color;
        padding: 2px 5px 2px 5px;
        color: @text-color;
        font-size: 15px;
    }

    select {
        max-width: 110px;
        background: none;
        border: none;
        box-shadow: none;
        margin: 10px;
        
        &:focus, &:active {
            outline: none;
            outline-offset: 0px;
        }
    }
}

.inputTextFormDiv {

    input, textarea {
        width: 100%;
        outline: none;
        border: none;
        box-shadow: none;
        height: 30px;
        font-size: 16px;
        padding: 0;
        padding-left: 15px;
        margin-bottom: 2px;
    }

}

.babySheatFormDiv {

    max-width: 150px;
    text-align: left;

    input {
        text-align: left;
        margin: 10px;
        margin-left: 15px;
    }

}

.noPeopleFormDiv {
    max-width: 150px;
}

.dateFormDiv {
    max-width: 148px;
    
    input{
        cursor: pointer;
    }
}

.formDivTimepicker {

    max-width: 148px;
    padding-left: 15px;
    padding-right: 15px;

    label{
        margin-left: 0px;
    }

}

.info, .error {
    margin: 0px;
    font-size: 13px;
    border: none;
    padding: 0px;
    padding-top: 5px;
    .border-radius(@border-radious);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.info {
    background-color: @info-color;
    color: @text-color;
}

.error {
    background-color: @error-color; 
    color: @text-color;
}

.successInput {
    margin-left: 7px;
    color: @success-color;

}

input{
    .placeholder(@placeholder-rule)
}

