@import "../../../assets/styles/styles.less";

section {
	padding-top: @section-margin;
	padding-bottom: @section-margin;
}

/*
.formStyle{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
*/
.formStyle{

    h1 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0px 0px 20px 0px;
        color: #5C5C5C;
        font-size:x-large;
    }

    input[type="submit"], input[type="button"]{
        background: #2471FF;
        border: none;
        padding: 10px 20px 10px 20px;
        border-bottom: 3px solid #5994FF;
        .border-radius(@border-radious);
        color: #D2E2FF;
    
        :hover{
            background: #6B9FFF;
            color:#fff;
        }
    }
}

.formGroupDiv{
    display: block;
    border:1px solid #DDDDDD;
    padding: 0px;
    padding-top: 9px;
    .border-radius(@border-radious);
    margin-bottom: 30px;

    label {
        float: left;
        margin-top: -19px;
        margin-left: 10px;
        background: #FFFFFF;
        padding: 2px 5px 2px 5px;
        color: #8c8c8c;
        font-size: 18px;
    }

    .row {
        margin:15px;
    }
}

.formDiv {

    display: block;
    border:1px solid #DDDDDD;
    padding: 0px;
    padding-top: 9px;
    .border-radius(@border-radious);
    margin-bottom: 15px;
    
    label {
        float: left;
        margin-top: -19px;
        margin-left: 10px;
        background: #FFFFFF;
        padding: 2px 5px 2px 5px;
        color: #8c8c8c;
        font-size: 14px;
    }

    select {
        max-width: 160px;
        border: none;
        box-shadow: none;
        margin-left: 8px;
    }

    #date {
    }

    textarea {
        border: none;
        width: 99%;
        margin-top: 5px;
        margin-bottom: 5px;
        outline: none;
        resize:none;
    }

}

/*
.formStyle input[type="text"]:focus,
.formStyle input[type="date"]:focus,
.formStyle input[type="datetime"]:focus,
.formStyle input[type="email"]:focus,
.formStyle input[type="number"]:focus,
.formStyle input[type="search"]:focus,
.formStyle input[type="time"]:focus,
.formStyle input[type="url"]:focus,
.formStyle input[type="password"]:focus,
.formStyle textarea:focus,
.formStyle select:focus 
{
}
*/

.inputTextFormDiv {
    input {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        box-shadow: none;
        height: 30px;
        line-height: 25px;
        font-size: 16px;
        padding: 0;
        padding-left: 15px;
        margin-bottom: 2px;
    }
}

.babySheatFormDiv {

    max-width: 150px;
    text-align: left;

    input {
        text-align: left;
        margin: 10px;
        margin-left: 15px;
    }

}

.noPeopleFormDiv {
    max-width: 180px;
}

.dateFormDiv {
    max-width: 160px;

    input{
        cursor: pointer;
    }
}

.formDivTimepicker {

    max-width: 148px;
    padding-left: 15px;
    padding-right: 15px;

    label{
        margin-left: 0px;
    }

}

.inputHelper {
    margin: 0px;
    font-size: 11px;
    border: none;
    padding: 0px;
    padding-top: 5px;
    .border-radius(@border-radious);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.info {
    background-color: #ddeaea;
    color: #63ada9;
}

.error {
    background-color: #f2dede; 
    color: #a94442;
}

.successInput {
    margin-left: 7px;
    color: lightseagreen;

}

input{
    .placeholder(@placeholder-rule)
}

