<section>
    <canvas id="canvasIndex"></canvas>
    <table border="0">
        <tr valign="bottom" align="center">
            <td style="height: 60%;">
                <img
                data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false"
                class="logoMask" src ="assets/images/logoWhite.png">
            </td>
        </tr>
        <tr valign="center" align="center">
            <td style="height: 40%;">
                <span class="title">Secure and Reliable transportation</span>
            </td>
        </tr>
    </table>
    <div class="scrollDown">
        <a href="#carousel"><span></span></a>
    </div>
</section>
