<section>
    <canvas id="canvasIndex" style="z-index:-1"></canvas>
    <table border="0" style="height:100%; width: 100%; position: absolute; top: 0px;">
        <tr valign="bottom" align="center">
            <td style="height: 60%; border: 0px;">
                <img
                data-aos="zoom-in" data-aos-duration="1000" data-aos-once="false"
                class="logoMask" src ="assets/images/logoWhite.png">
            </td>
        </tr>
        <tr valign="center" align="center">
            <td style="height: 40%; border: 0px;">
                <span class="title">Secure and Reliable transportation</span>
            </td>
        </tr>
    </table>
    <div class="scrollDown">
        <a href="#carousel"><span></span></a>
    </div>
</section>
