<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{data.priceTable}}</h2>
        <h5>{{data.priceTableDescription}}</h5>
        <a href="#bookTransfer"><button class="bookNowButton">{{data.bookNow}}</button></a>
      </div>
      <div class="col-xs-12">
        <h4>{{data.chaniaPriceTableTitle}}</h4>
        <div class="table-responsive" data-aos="fade-in">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{data.destination}}</th>
                <th>{{data.priceEuros}}</th>
                <th class="fluidVisibilityCols">{{data.durationHours}}</th>
                <th class="fluidVisibilityCols">{{data.distanceKm}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let destinationChaniaDetails of destinationsChaniaDetails" [ngx-scroll-to]="'#bookTransfer'" (click)="bookTransfer('Chania airport CHQ', destinationChaniaDetails)">
                <td>{{destinationChaniaDetails.destination}}</td>
                <td>{{destinationChaniaDetails.price}} €</td>
                <td class="fluidVisibilityCols" *ngIf="destinationChaniaDetails.distance != 0">{{destinationChaniaDetails.distance}} km</td>
                <td class="fluidVisibilityCols" *ngIf="destinationChaniaDetails.distance == 0">-</td>
                <td class="fluidVisibilityCols" *ngIf="destinationChaniaDetails.duration != 0">{{destinationChaniaDetails.duration}} h</td>
                <td class="fluidVisibilityCols" *ngIf="destinationChaniaDetails.duration == 0">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12">
        <h4>{{data.heraklionPriceTableTitle}}</h4>
        <div class="table-responsive" data-aos="fade-in">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{data.destination}}</th>
                <th>{{data.priceEuros}}</th>
                <th class="fluidVisibilityCols">{{data.durationHours}}</th>
                <th class="fluidVisibilityCols">{{data.distanceKm}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let destinationHeraklionDetails of destinationsHeraklionDetails" [ngx-scroll-to]="'#bookTransfer'" (click)="bookTransfer('Heraklion airport HER', destinationHeraklionDetails)">
                <td>{{destinationHeraklionDetails.destination}}</td>
                <td>{{destinationHeraklionDetails.price}} €</td>
                <td class="fluidVisibilityCols" *ngIf="destinationHeraklionDetails.distance != 0">{{destinationHeraklionDetails.distance}} km</td>
                <td class="fluidVisibilityCols" *ngIf="destinationHeraklionDetails.distance == 0">-</td>
                <td class="fluidVisibilityCols" *ngIf="destinationHeraklionDetails.duration != 0">{{destinationHeraklionDetails.duration}} h</td>
                <td class="fluidVisibilityCols" *ngIf="destinationHeraklionDetails.duration == 0">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12">
        <h6 class="priceTableDetails">{{data.priceTableDetails}}</h6>
      </div>
    </div>
  </div>
</section>
