<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{data.priceTable}}</h2>
      </div>
      <div class="col-xs-12">
        <h5>{{data.priceTableDescription}}</h5>
      </div>
      <div class="col-xs-12">
        <a href="#bookTransfer"><button class="bookNowButton">{{data.bookNow}}</button></a>
      </div>
      <div class="col-xs-12">
        <div class="table-responsive" data-aos="zoom-in">
          <table class="table">
            <thead>
              <tr>
                <th>{{data.destination}}</th>
                <th>{{data.priceEuros}}</th>
                <th>{{data.durationHours}}</th>
                <th>{{data.distanceKm}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let destinationDetails of destinationsDetails">
                <td>{{destinationDetails.destination}}</td>
                <td>{{destinationDetails.price}} €</td>
                <td *ngIf="destinationDetails.distance != 0">{{destinationDetails.distance}} km</td>
                <td *ngIf="destinationDetails.distance == 0">-</td>
                <td *ngIf="destinationDetails.duration != 0">{{destinationDetails.duration}} h</td>
                <td *ngIf="destinationDetails.duration == 0">-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12">
        <h6 class="priceTableDetails">{{data.priceTableDetails}}</h6>
      </div>
    </div>
  </div>
</section>
