<div style="margin-bottom:30px">
    <hr>



  
    <h2>Prices from Georgioupolis</h2>
    <button class="btn btn-primary">Book Now</button>
    
    
    
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Destination</th>
              <th>Price (euros)</th>
              <th>Duration (hours)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chania Airport (CHQ)</td>
              <td>60€</td>
              <td>0:45</td>
            </tr>
            <tr>
                <td>Chania Airport (CHQ)</td>
                <td>60€</td>
                <td>0:45</td>
              </tr>
              <tr>
                  <td>Chania Airport (CHQ)</td>
                  <td>60€</td>
                  <td>0:45</td>
                </tr>
                <tr>
                    <td>Chania Airport (CHQ)</td>
                    <td>60€</td>
                    <td>0:45</td>
                  </tr>
                  <tr>
                      <td>Chania Airport (CHQ)</td>
                      <td>60€</td>
                      <td>0:45</td>
                    </tr>
          </tbody>
        </table>
        </div>

</div>
