@import "../../../assets/styles/styles.less";

section {
	height: 100%;
	padding-top: @section-margin;
	padding-bottom: @section-margin;
}

.gallery {

	overflow: hidden;
	
	.gallery-cell {
		width:90%;
		height: 90vh;
		margin-right: 2%;

		img {
			height: 100%;
			width: 100%;
			border-radius: @border-radious;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		a {
			cursor: hand;

			.caption-text {
				color: white;
				background-color:rgba(0,0,0,0.5);
				width: 100%;
				position:absolute;
				padding:10px;
				left:0px;
				bottom:0%;
			}
		}
	}

}
